
<div class="box-menu-p border-menu">
  <div class="container">
  <div class="row no">
      <div class="row menu-header">
        <div class="search-header">
            <input type="text" placeholder="Buscar Hoteles / Destinos" id="txtBuscar" name="txtBuscar" class="typeahead">
        </div>
      </div>
  </div>
  </div>
</div>

<div class="nav-header-sec">
   <div class="container">
   	<ul>
   		<li><a href="javascript:void(0)">Hoteles</a></li>
        <li><a href="#">-</a></li>
   		<li><a href="#" class="negrita"><?=$this->texto;?></a></li>
   	</ul>
   </div>
</div>

<div class="container box-hotel-search">
<div class="row menu-header">
 <div class="box-txt no">
    <div class="title">
      <h3>Hoteles recomendados para tu estadía.</h3>
    </div>


  </div>
    
  <div class="box-btn no">
      <div class="box-filtros">
        <div class="label">
          Ordenar por:
        </div>
        <div class="box-select">
          <div class="selectx no">
            <select class="styled" id="ord_estrella" name="ord_estrella">
              <option value ="0">
                ESTRELLAS
              </option>
              <option value ="estrellas1">5 a 1</option>
              <option value ="estrellas2">1 a 5</option>
            </select>
          </div>
          <div class="selectx">
            <select class="styled" id="ord_puntaje" name="ord_puntaje">
              <option value="0">
                PUNTAJE
              </option>
              <option value ="mayor">Mayor puntaje</option>
              <option value ="menor">Menor puntaje</option>
            </select>
          </div>

          <div class="selectx">
            <select class="styled" id="ord_ciudad" name="ord_ciudad">
              <option value="0">
                CIUDAD
              </option>

              <?php
                foreach ($ciudad as $data) {
              ?>
               <option value="<?=$data['id_ciudad']?>"><?=$data['ciudad']?></option>

              <?php
              }
              ?>
              
            </select>
          </div>
        </div>
       <!-- <div class="box-vistas">
          <div class="icon">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </div>
          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>
          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>
         
         
        </div>  -->

      </div>
 
  </div>

</div>

<input type="hidden" name="texto" id="texto" value="<?=$this->texto;?>" />
<input type="hidden" name="param" id="param" value="<?=$this->param;?>" />

<div class="loading">
    <img src="/img/loader-2.gif" width="100">
</div>

<div class="row menu-header margin" id="container-hotel-search">

  
<!--
<div class="row no box-hotel-item">
<div class="col-xs-3 border-right">
<div class="box-puntaje">
    <div class="puntaje">
  
    </div>
    <div class="label-puntaje">
        Bueno
    </div>
</div>
</div>
<div class="col-xs-9 no">
    <div class="detalle-hotel">
      <div class="detalle">
       <div class="name-hotel">
     
       </div>
      <div class="box-star-mapa">
        <div class="star">
          <i class="item-star"></i>
          <i class="item-star"></i>
          <i class="item-star"></i>
        </div>
        <div class="mapa">
          <i class="item-mapa"></i>
          <a href="#">Ver mapa</a>
        </div>
      </div>
      <div class="texto">
        <p>
     
        </p>
      </div>
      <div class="icons-servicios">
        <img src="/img/icons-hotel.jpg">
      </div> 
      <div class="box-btn-comentario">
        <div class="icon-btn"></div>
         <a href="#" class="btn btn-comentario">Ver Comentarios</a>
      </div>
      </div>
       <div class="image">
          <img src="/img/hotel1.jpg">
      </div>
    </div>
  </div>

  </div>

-->
</div>


</div>


<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/global/library/formularios/form-elements.min.js')
      ->appendFile($this->basePath() . '/js/global/library/beat-picker/BeatPicker.js')
      ->appendFile($this->basePath() . '/js/module/front/index/filtros-hotel.js')
      ->appendFile($this->basePath() . '/js/module/front/search/motor-lista.js')
      ->appendFile($this->basePath() . '/js/module/front/country/country.js')
     
              
?>

<div class="modal fade mapa" id="modalMapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
      <div id="mapa_data"></div>
      </div>
   
    </div>
  </div>
</div>


