
<div class="footer">
	<div class="container">
	<div class="col-xs-3">  
	<ul class="lista-footer list1">
		<li>
			<img src="/img/logo.png">
		</li>
		<li>
			<p>
				Reservas, críticas y consejos para hoteles,
				complejos turísticos, hostales, vacaciones,
				paquetes de viajes y mucho más!
			</p>
		</li>
		<li>
			<img src="/img/redes-sociales.png">
		</li>
	</ul>
	</div>

	<div class="col-xs-3">
	<ul class="lista-footer">
		<li>
			<p>
				Introduzca su dirección de correo electronico
			</p>
			<p class="news-letter">
				<input type="text" id="correo" name="correo">
			</p>
		</li>
		<li>
			<span>* Nunca enviar spam</span>
		</li>
		<li>
			<a href="#" class="btn btn-suscribirse">Suscribirse</a>
		</li>
	</ul>
	</div>

	<div class="col-xs-2">
	<ul class="lista-footer m1">
		<li>
			<a href="">Sobre nosotros</a>
		</li>
		<li>
			<a href="">Centro de prensa</a>
		</li>
		<li>
			<a href="">Mejor precio garantizado</a>
		</li>
		<li>
			<a href="">Noticias de viaje</a>
		</li>
		<li>
			<a href="">Empleos</a>
		</li>
		<li>
			<a href="">Politicas de privacidad</a>
		</li>
		<li>
			<a href="">Condiciones de uso</a>
		</li>
		<li>
			<a href="">Realimentación</a>
		</li>
	</ul>
	</div>

	<div class="col-xs-4">
		<ul class="lista-footer">
			<li class="x-li">
				<h3>¿Tiene alguna pregunta?</h3>
			</li>
			<li>
				<h4>+ 1-202-555-0173</h4>
			</li>
		</ul>
	</div>

	</div>

</div>

