

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="row header">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
      </div>

      <ul class="header-menu pull-right">
        <li><a href="/"><img src="/img/bandera.png"> ENG</a> <span class="dropdown-language"></span></li>
      </ul>
    </div>
  
    



  </div>
</nav>




