
<div class="box-menu-p border-menu">
  <div class="container">
  <div class="row no">
      <div class="row menu-header">
        <div class="search-header">
            <input type="text" placeholder="Buscar Hoteles / Destinos" id="txtBuscar" name="txtBuscar" class="typeahead">
        </div>
      </div>
  </div>
  </div>
</div>

<div class="nav-header-sec">
   <div class="container">
   	<ul>
   		
   		<li><a href="#">Hoteles</a></li>
      <li><a href="#">-</a></li>
   		<li><a href="#" class="negrita"><?=$this->texto;?></a></li>
   	</ul>
   </div>
</div>

<div class="container box-hotel-search">
<div class="row menu-header">
  <div class="box-txt">
    <div class="title">
      <h3>Hoteles recomendados para tu estadía.</h3>
    </div>
  </div>
    
  <div class="box-btn">
      <div class="box-filtros">
        <div class="label">
          Ordenar por:
        </div>
        <div class="box-select">
          <div class="selectx no">
            <select class="styled" id="ord_estrella" name="ord_estrella">
              <option value ="0">
                ESTRELLAS
              </option>
              <option value ="estrellas1">5 a 1</option>
              <option value ="estrellas2">1 a 5</option>
            </select>
          </div>
          <div class="selectx">
            <select class="styled" id="ord_puntaje" name="ord_puntaje">
              <option value="0">
                PUNTAJE
              </option>
              <option value ="mayor">Mayor puntaje</option>
              <option value ="menor">Menor puntaje</option>
            </select>
          </div>
        </div>
        <div class="box-vistas">
          <div class="icon">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </div>
          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>

          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>
         
         
        </div>  

      </div>
 
  </div>

</div>

<input type="hidden" name="texto" id="texto" value="<?=$this->texto;?>" />
<input type="hidden" name="param" id="param" value="<?=$this->param;?>" />

<div class="loading">
    <img src="/img/loader-2.gif" width="100">
</div>

<div class="row menu-header margin" id="container-hotel-search">

  <!--
<div class="row no box-hotel-item">

  <div class="col-xs-9 no">
  <div class="detalle-hotel">

      <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="false"><div class="carousel-inner" role="listbox"><div class="item active image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_e90f760d41b25c88cbbf709832da85c5_9720_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_f1b80853ee2fe2770b0ad2d5489388cc_7806_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_319f31c24e96ba2378579a85c43bd412_1093_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_4d4598e99ebc37dc6845bc49def1319f_9533_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_27a1eec96531a9711f074f9e60d7b4e1_6077_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_bd1b5e35b0de2f60664db30f664a15e9_7958_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_6e171c1363712e7cda0f414677b52d65_7249_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_81b397bc36143bda93065f367c971f0e_2911_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_8adc2e9b8de47b90e7e97350f9df6fd8_1548_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_d7ec0cfe9bf0b4ac5b99c67c81c2a288_8440_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_696f1eefb57f409b591cab1ed4d20b90_1442_.jpg">
                    </div><div class="item image">
                    <img src="http://admin.guest-comment.vh/img/hoteles/guest_6771d9d0b3c7990f391e60aef68202f7_7216_.jpg">
                    </div></div><a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a><a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a></div>


    <div class="detalle border-right">
     
    <div class="box-head-hotel">
      <div class="puntaje" id="promedio">9,5</div>
      <div class="box-name-hotel">
        <div class="name-hotel">
          <h2>JW Marriott Hotel Prueba</h2>
          <div class="star">
                         <i class="item-star"></i>
                         <i class="item-star"></i>
                         <i class="item-star"></i>
                         <i class="item-star"></i>
                         <i class="item-star"></i>
                        
          </div>
        </div>
        <div class="box-direccion">
          <i class="item-mapa"></i>
          <span class="direccion">Malecon de La Reserva, 615, Miraflores, Peru</span>
          <a href="javascript:void(0)" class="mapaH" data-longitud="-77.027328" data-latitud="-12.117951" data-zoom="19" data-name="Mariel Hotel">Ver mapa</a>      
        </div>

      </div>
    </div>

        <div class="texto"><p>El JW Marriott ofrece un alojamiento de lujo con vistas al océano Pacífico, un casino, un spa y una piscina al aire libre. Está situado frente al mar en el distrito de Miraflores, junto al centro comercial Larcomar.

        Las modernas y amplias habit ...</p>
        </div>
        <div class="icons-servicios">
        <img src="/img/icons-hotel.jpg">
        </div>
        <div class="box-btn-comentario">
        <a class="icon-btn" href="/">
                   <i class="x-caret"></i>
        </a>
        <a href="/hotel/name/jw-marriott-hotel-94df" class="btn-comentario">Ver Comentarios</a>
        </div>
    </div>


  </div>

</div>

 <div class="col-xs-3">
    <div class="box-motor-item">
     <div class="row no">
        <div class="t-precio">Los mejores precios para tu estadía.</div>
      </div>

      <div class="row no">
          <div class="box-calendar">
              <div class="input-daterange input-group" id="datepicker">
      

                      <input type="text" data-beatpicker="true" data-beatpicker-module="clear,icon,footer" data-beatpicker-position="['*','*']" data-beatpicker-range="true">
              </div>
              <div class="row no">
                <a href="javascript:void(0)" class="btn-precio">Mostrar precios</a>
              </div>

               <div class="row no">
                <div class="box-precios">
                    <div class="row no ota">

                        <div class="logo-ota">
                            <img src="/img/otas/booking.png" width="90">
                        </div>

                        <div class="precios-link">
                            <div class="precio">
                                S/.250
                            </div>
                            <a class="precio-caret" href="/">
                              <i class="x-caret"></i>
                            </a>
                       </div>

                    </div>
                    <div class="row no ota">

                        <div class="logo-ota">
                            <img src="/img/otas/expedia.png" width="90">
                        </div>

                        <div class="precios-link">
                            <div class="precio">
                                S/.250
                            </div>
                            <a class="precio-caret" href="/">
                              <i class="x-caret"></i>
                            </a>
                       </div>
                       
                    </div>

                    <div class="row no ota">

                        <div class="logo-ota">
                            <img src="/img/otas/orbitz.png" width="90">
                        </div>

                        <div class="precios-link">
                            <div class="precio">
                                S/.250
                            </div>
                            <a class="precio-caret" href="/">
                              <i class="x-caret"></i>
                            </a>
                       </div>
                       
                    </div>

                    <div class="row no ota">

                        <div class="logo-ota">
                            <img src="/img/otas/booking.png" width="90">
                        </div>

                        <div class="precios-link">
                            <div class="precio">
                                S/.250
                            </div>
                            <a class="precio-caret" href="/">
                              <i class="x-caret"></i>
                            </a>
                       </div>
                       
                    </div>
                </div>
              </div>


          </div>
       
      </div>
    </div>
</div>


</div>-->



</div>


</div>


<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/global/library/formularios/form-elements.min.js')
      ->appendFile($this->basePath() . '/js/global/library/beat-picker/BeatPicker.js')
      ->appendFile($this->basePath() . '/js/module/front/index/filtros-hotel.js')
      ->appendFile($this->basePath() . '/js/module/front/search/motor-lista.js')
      ->appendFile($this->basePath() . '/js/module/front/search/search.js')
              
?>

<div class="modal fade mapa" id="modalMapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
      <div id="mapa_data"></div>
      </div>
   
    </div>
  </div>
</div>


<!--
<div class="container box-hotel-search">
	<div class="row menu-header">
	<div class="col-xs-3">
		<div class="box-filtros">
			
			<div class="title-search">
				Buscar hoteles
			</div>
			<div>
				dsds
			</div>

		</div>
	</div>
	<div class="col-xs-9">
		ss
	</div>
	</div>
</div>
-->