<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Guest comment') ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink()
                ->prependStylesheet($this->basePath() . '/css/module/front/style.css')
                ->prependStylesheet($this->basePath() . '/css/module/front/beat-picker/BeatPicker.css')
                ->prependStylesheet($this->basePath() . '/css/module/front/jssor-slide/jssor.css')
                ->prependStylesheet($this->basePath() . '/css/module/front/flag/flag-icon.css')
                ->prependStylesheet($this->basePath() . '/css/module/front/bootstrap/bootstrap.css')
        ?>

        <!-- Le javascript -->
        <?php
        echo $this->headScript()
            ->appendFile($this->basePath() . '/js/global/jquery.js')
            ->appendFile($this->basePath() . '/js/global/library/bootstrap/bootstrap.min.js')
            ->appendFile($this->basePath() . '/js/global/library/type-head/handlebars.js')
            ->appendFile($this->basePath() . '/js/global/library/type-head/typeahead.bundle.js')
            ->appendFile("https://maps.google.com/maps/api/js?sensor=true")
            ->appendFile($this->basePath() . '/js/global/library/google/map/gmaps.js')
              
        ?>
        <?php 
           /* $js = sprintf(
            "var urls = {
                dataFiltroUrl : '%s', 
            }", 
                URL_DATA
            );

            echo $this->headScript()->appendScript($js);*/
        ?>
    
    </head>
    <body>

        <?php
        echo $this->partial('header');
        ?>

        <?php echo $this->content; ?>

        <?php
        echo $this->partial('footer');
        ?>

    </body>
</html>
