
<div class="box-menu-p border-menu">
	<div class="container">
	<div class="row no">
       <div class="row menu-header">
        <ul class="nav-menu-header">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Hoteles 
              <span class="dropdown-menu-item"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Destinos 
              <span class="dropdown-menu-item"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                
              </ul>
            </li>


       
        </ul>
      </div>
</div>
</div>
</div>

<div class="nav-header-sec">
   <div class="container">
   	<ul>
   		<li><a href="#">Home</a></li>
   		<li><a href="#" class="cursive">Hoteles</a></li>
   		<li><a href="#" class="cursive negrita"><?=$this->texto;?></a></li>
   	</ul>
   </div>
</div>

<div class="container box-hotel-search">
<div class="row menu-header">
  <div class="box-txt">
    <div class="title">
      <h3>Destinos / hoteles</h3>
    </div>

    <div class="box-search-2">

      <div class="box-search-txt">
        <input type="text" id="txtBuscar" name="txt-search" class="typeahead" placeholder="Buscar">
      </div>

      <div class="box-search-btn">
        <a class="btn btn-search dim" type="button" href="javascript:void(0)" id="btn-search-home" >Buscar</a>
      </div>
      
    </div>

  </div>
    
  <div class="box-btn">
      <div>
        &nbsp;
      </div>
      <div class="box-filtros">
        <div class="label">
          Ordenar por:
        </div>
        <div class="box-select">
          <div class="selectx no">
            <select class="styled" id="ord_estrella" name="ord_estrella">
              <option value ="0">
                ESTRELLAS
              </option>
              <option value ="estrellas1">5 a 1</option>
              <option value ="estrellas2">1 a 5</option>
            </select>
          </div>
          <div class="selectx">
            <select class="styled" id="ord_puntaje" name="ord_puntaje">
              <option value="0">
                PUNTAJE
              </option>
              <option value ="mayor">Mayor puntaje</option>
              <option value ="menor">Menor puntaje</option>
            </select>
          </div>
        </div>
        <div class="box-vistas">
          <div class="icon">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </div>
          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>

          <div class="icon">
            <span class="glyphicon glyphicon-list"></span>
          </div>
         
         
        </div>  

      </div>
 
  </div>

</div>

<input type="hidden" name="texto" id="texto" value="<?=$this->texto;?>" />

<div class="loading">
    <img src="/img/loader-2.gif" width="100">
</div>

<div class="row menu-header margin" id="container-hotel-search">


</div>


</div>


<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/global/library/formularios/form-elements.min.js')
      ->appendFile($this->basePath() . '/js/module/front/index/filtros-hotel.js')
      ->appendFile($this->basePath() . '/js/module/front/district/district.js')
              
?>

<div class="modal fade mapa" id="modalMapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
      <div id="mapa_data"></div>
      </div>
   
    </div>
  </div>
</div>


