<?php
  $hotel = $this->hotel;
  $url = $this->url;

?>

<input type="hidden" id="url" name="url" value="<?=$url;?>">
<input type="hidden" id="longitud" name="longitud" value="<?php if(isset($mapa[1])){ echo $mapa[1];}?>">
<input type="hidden" id="zoom" name="zoom" value="<?php if(isset($mapa[2])){ echo $mapa[2];}?>">
<input type="hidden" id="latitud" name="latitud" value="<?php if(isset($mapa[0])){ echo $mapa[0];}?>">
<input type="hidden" id="name-hotel" name="name-hotel" value="<?=$hotel['nombre'];?>">
<input type="hidden" id="hotel-id" name="hotel-id" value="<?=$param;?>">
<input type="hidden" id="booking_url" name="booking_url" value="<?=$bookingUrl?>">
<input type="hidden" id="despegar_url" name="despegar_url" value="<?=$despegarUrl?>">
<input type="hidden" id="orbitz_url" name="orbitz_url" value="<?=$orbitzUrl?>">
<input type="hidden" id="hoteles_url" name="hoteles_url" value="<?=$hotelesUrl?>">
<input type="hidden" id="expedia_url" name="expedia_url" value="<?=$expediaUrl?>">


<div class="box-menu-p border-menu">
	<div class="container">
	<div class="row no">
      <div class="row menu-header">
        <div class="search-header">
            <input type="text" placeholder="Buscar Hoteles / Destinos" id="txtBuscar" name="txtBuscar" class="typeahead">
        </div>
      </div>
  </div>
  </div>
</div>

<div class="nav-header-sec">
   <div class="container">
   	<ul>
   		<li><a href="#">Hoteles</a></li>
   	  <?=$this->subMenu;?>
   	</ul>
   </div>
</div>


<div class="container box-hotel-search">
	<div class="row menu-header">

  <div class="col-xs-9">
    <div class="box-head-hotel">
      <div class="puntaje" id="promedio"><?=$hotel['puntaje'];?></div>
      <div class="box-name-hotel">
        <div class="name-hotel">
          <h2><?=$hotel['nombre'];?></h2>
          <div class="star">
            <?php 
            for ($i=1; $i <= $hotel['calificacion'] ; $i++) { 
            ?>
             <i class="item-star"></i>
            <?php }?>
            
          </div>
        </div>
        <div class="box-direccion">
          <i class="item-mapa"></i>
          <span class="direccion"><?=$hotel['direccion'].", ".$hotel['localidad'].", ".$hotel['pais'];?></span>
                  
        </div>

      </div>
    </div>

    <div class="tab-hotel">
    <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Comentarios</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Fotos del hotel</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Mapa</a></li>
      
            </ul>
        </div>
    </div>

    <div class="panel-body hotel">
      
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">

              <div class="title-comment">
                <div class="title-c">Comentarios reales de Huespedes.</div>
                <div class="select-puntaje selectx">
                  <select class="styled" id="idioma" name="idioma">
                    <option value="0">Idioma</option>
                    <option value="en_US">Inglés</option>
                    <option value="es_ES">Español</option>
                  </select>
                </div>
              </div>

             <div class="loading">
                  <img src="/img/loader-2.gif" width="70" />
              </div>

            <div class="comment-content">

              <!--<div class="row no comentario-item">
                <div class="box-comentario">
                   <div class="user-from">
                      <div class="bandera">
                       <span class="flag-icon flag-icon-es </span España "></span>
                      </div>
                   <div class="nombre-user">
                      <a href="javascript:void(0)"> Wilber </a>
                   </div>
                   <div class="ciudad-user">
                        España  
                   </div>
                   <div class="col-logo"><img src="/img/booking.jpg" width="100"></div>
                  </div>

                  <div class="comentario-container">
                      <div class="box-col-comentario">
                      <div class="col-puntaje">
                      <div class="puntaje">6,3</div>
                      </div>

                      <div class="col-comentario">
                      <div class="col-head-comment"> 
                           <div class="titulo-comment">"Agradable"</div> <div class="col-fecha">26 de Enero del 2015</div>
                      </div>

                     
                      <div class="comentario-text"><p><img src="/img/good.gif"> Ubicación y atención del personal</p><p><img src="/img/bad.gif"> Habitaciones vieja, olor a humedad.</p></div></div>
                    </div>  
              </div></div>
              </div>-->

            </div>

            </div>
            <div id="tab-2" class="tab-pane">

            <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 819px;height: 550px; background: #191919; overflow: hidden;">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(/img/jssor-slider/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            </div>

            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 819px; height: 460px; overflow: hidden;">

            <?php
            foreach ($foto as $data) {

            ?>
            <div>
              <img u="image" src="<?=MEDIA_URL.'/hoteles/'.$data['foto']; ?>" />
              <img u="thumb" src="<?=MEDIA_URL.'/hoteles/'.$data['foto']; ?>" width="72px" height="72px" />
            </div>
            <?php 
            }
            ?>
            
        </div>
        

        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 158px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 158px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        
        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 819px; height: 91px; left:0px; bottom: 0px;">
      
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 70px; height: 70px; top: 0; left: 0;">
                    <div class=w><div u="thumbnailtemplate" style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                    <div class=c>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
    
    </div>

            </div>
         
            <div id="tab-3" class="tab-pane">
              <div class="mapa-url">

                <div id="mapa_data">

                </div>

               
              </div>
              
          
             
            </div>
          </div>
        </div>
  </div>

	<div class="col-xs-3">

    <div class="title-filtro">
      <div class="title">
        Reservar
      </div>
      <div class="box-caret">
        <i class="x-caret"></i>
      </div>
    </div>

		<div class="box-filtros-h">
		  <div class="row no">
        <div class="t-precio">Los mejores precios para tu estadía.</div>
      </div>
      <div class="row no">

          <div class="input-daterange input-group" id="datepicker">
<input type="text"  data-beatpicker="true" data-beatpicker-module="clear,icon,footer" data-beatpicker-position="['*','*']" data-beatpicker-range="true" data-beatpicker-id="myDatePicker" />
   
          </div>

      </div>

      <div class="row no precio-btn out">
        <a href="javascript:void(0)" class="btn-precio">Mostrar precios</a>
      </div>
      
      <div class="row no loader-motor out" style="text-align:center">
            <img src="/img/loading-tr.gif" >
      </div>
      
      <div class="row no">
        <div class="box-precios">
          <!--<div class="row no ota">
            <div class="logo-ota">
              <img src="/img/otas/booking.png" width="90">
            </div>
            <div class="precios-link">
              <div class="precio">
                S/.250
              </div>
              <a class="precio-caret" href="/">
                   <i class="x-caret"></i>
              </a>
            </div>
          </div>-->

    
        </div>
      </div>

		</div>

      <div class="row no label-filtro-hotel">
        Hoteles similares
      </div>

      <div class="row no box-hotel-recomend">
        <?=$this->hotelSimilar;?>
      </div>
	</div>

	</div>
</div>


<!--<div class="container">

	<div class="box-comment">
	<div class="row">
		<h4>
			<?= $this->translate("Reviews"); ?> <span><label class="label label-default" id="promedio"></label></span>
		</h4>
		<span><a class="flag flag-us" href="javascript:void(0)"></a> <a class="flag flag-pe" href="javascript:void(0)"></a></span>

	</div>
	<div class="row">
		<input type="hidden" id="url" name="url" value="<?=$hotel?>">
		<div class="loading">
			<img src="/img/loader-2.gif" width="130" />
		</div>

		<div class="comment-content">
             
		</div>
	</div>
	</div>

</div>-->

<?php
/*echo $this->headLink()
            ->prependStylesheet($this->basePath() . '/css/module/front/beat-picker/BeatPicker.css')
      */       
?>

<?php
      echo $this->inlineScript()
            ->appendFile($this->basePath() . '/js/global/library/formularios/form-elements.min.js')
            ->appendFile($this->basePath() . '/js/global/library/jssor-slider/jssor.slider.mini.js')
            /*->appendFile($this->basePath() . '/js/global/library/bootstrap/datepicker/bootstrap-datepicker.js')
            ->appendFile($this->basePath() . '/js/global/library/bootstrap/datepicker/locales/bootstrap-datepicker.es.js')
            ->appendFile($this->basePath() . '/js/global/library/bootstrap/datepicker/locales/bootstrap-datepicker.en-GB.js')*/
            ->appendFile($this->basePath() . '/js/global/library/beat-picker/BeatPicker.js')
            ->appendFile($this->basePath() . '/js/module/front/index/filtros-hotel.js')
            ->appendFile($this->basePath() . '/js/module/front/index.js')
            ->appendFile($this->basePath() . '/js/module/front/hotel/hotel-detalle.js')
       ?>


          




