<div class="box-menu-p border-menu">
	<div class="container">
	<div class="row no">
       <div class="row menu-header">
        <ul class="nav-menu-header">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Hoteles 
              <span class="dropdown-menu-item"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Destinos 
              <span class="dropdown-menu-item"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                
              </ul>
            </li>
        </ul>
      </div>
</div>
</div>

</div>

<div class="slide-main">
<div class="fondo-slide">
		<img src="/img/slider/slider-2.jpg">
</div>

<div class="container">
<div class="row no">
	<div class="slide">
	<div class="box-slide">
	<div class="comment-slide">
		<div class="popover-comment"> Comentario de Huespedes reales </div>
			<div class="col-xs-2">
				<img src="/img/usuarios/user-1.png">
			</div>

			<div class="col-xs-10">
			<div class="user-name-slide">
							Mariel Florez
			</div>

			<div class="user-comment-slide">
							Great Mariel Hotel in Miraflores
			</div>
			</div>	
	</div>
	<div class="search-home">
	<div class="box-search">
					<h3>Buscar ciudad o nombre de hotel</h3>
					<div class="row">
						<div class="col-xs-10">
							<input type="text" placeholder="Buscar" class="typeahead" id="txtBuscar" name="txtBuscar">
						</div>

						<div class="col-xs-2">
							<a class="btn btn-search dim" type="button" href="javascript:void(0)" id="btn-search-home">Buscar</a>
						</div>
					</div>
				
			</div>

		
	</div>

	</div>
</div>
</div>

<div class="row no center">
    <a href="#" class="btn btn-registrar-hotel">Incluye tu alojamiento</a>
</div>

<div class="row no">
		<div class="fondo-carousel">
			<img src="/img/carousel-home.png">
		</div>

		<div class="carousel-home">
			<div class="col-xs-4">
				<div class="popover-comment"> Duis convallis porta gravida auctor phasellus luctus ante et dignissim sagittis leo aptent m alesuada nibh. </div>
			
				<div class="col-xs-2">
					<img src="/img/usuarios/user-1.png" class="img-carousel">
				</div>
				<div class="col-xs-10">

					<div class="user-name-slide carousel-ls">
							Mariel Florez
						</div>

						<div class="user-comment-slide carousel-ls">
							Great Mariel Hotel in Miraflores
						</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="popover-comment"> Duis convallis porta gravida auctor phasellus luctus ante et dignissim sagittis leo aptent m alesuada nibh. </div>
				<div class="col-xs-2">
					<img src="/img/usuarios/user-1.png" class="img-carousel">
				</div>
				<div class="col-xs-10">
					<div class="user-name-slide carousel-ls">
							Mariel Florez
						</div>

						<div class="user-comment-slide carousel-ls">
							Great Mariel Hotel in Miraflores
						</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="popover-comment"> Duis convallis porta gravida auctor phasellus luctus ante et dignissim sagittis leo aptent m alesuada nibh. </div>
				<div class="col-xs-2">
					<img src="/img/usuarios/user-1.png" class="img-carousel">
				</div>
				<div class="col-xs-10">
					<div class="user-name-slide carousel-ls">
							Mariel Florez
						</div>

						<div class="user-comment-slide carousel-ls">
							Great Mariel Hotel in Miraflores
						</div>
				</div>
			</div>
		</div>
</div>	
</div>
</div>

<!-- Le javascript -->
<?php
    echo $this->inlineScript()
        ->appendFile($this->basePath() . '/js/module/front/index/filtros-hotel.js')
              
?>


