body {
  color: #000;
  padding-top: 55px;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: "Gautami";
  src: url("../../../fonts/Gautami/gautami.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../../../fonts/Raleway/Raleway-Bold.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway Semibold";
  src: url("../../../fonts/Raleway/Raleway-SemiBold.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "DroidSans";
  src: url("../../../fonts/DroidSans/DroidSans.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../../../fonts/OpenSans/OpenSans-Regular.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../../fonts/OpenSans/OpenSans-Bold.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../../../fonts/OpenSans/OpenSans-Semibold.ttf") format(truetype);
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../../../fonts/MyriadPro/MYRIADPRO_REGULAR.ttf") format(truetype);
  src: url("../../../fonts/MyriadPro/MYRIADPRO_REGULAR.OTF") format(opentype);
  font-style: normal;
  font-variant: normal;
}
/*--------------------VARIABLES GLOBALES----------------------*/
/*-------------------Home-----------------*/
.container {
  width: 1208px;
  padding-left: 0;
  padding-right: 0;
}
.header {
  background-color: #4d4d4d;
  padding-left: 38px;
  padding-right: 38px;
}
.navbar-inverse .row,
.row.no {
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-fixed-top {
  border-width: 0 0 0 1px;
  position: absolute;
}
.menu-header {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 38px;
  padding-right: 38px;
}
.navbar-inverse {
  background-color: #4d4d4d;
  border-color: none;
}
.border-menu {
  border-bottom: 2px solid #ee892e;
}
.container .navbar-header {
  margin-bottom: 5px;
}
.header-menu {
  margin-top: 15px;
  margin-right: 15px;
}
.header-menu li {
  float: left;
  display: block;
}
.header-menu li > a {
  color: #fff;
  font-size: 0.9em;
}
.header-menu li > a:hover {
  background-color: none;
  text-decoration: none;
}
.dropdown-language {
  background: url("../../../img/flechas.png") no-repeat -10px 0;
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}
.dropdown-menu-item {
  background: url("../../../img/flechas.png") no-repeat 0 0;
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}
.nav-menu-header {
  float: left;
  margin-bottom: 0;
  padding: 0;
}
.nav-menu-header li {
  float: left;
  display: block;
}
.nav-menu-header li > a {
  color: #484848;
  float: left;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1em;
  font-family: "Myriad Pro";
  text-transform: uppercase;
}
.nav-menu-header li.active {
  background-color: #006099;
}
.nav-menu-header li.active a {
  color: #fff;
}
.search-header {
  margin: 7px auto;
  width: 638px;
  position: relative;
}
.search-header input[type="text"] {
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  border: none;
  background-color: #00609a;
  padding: 4px 17px;
  width: 638px;
  color: #fff;
  font-family: "Calibri";
  font-size: 1.3em;
}
.search-header input[type="text"]:focus {
  outline: none;
}
.search-header input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}
.search-header input[type="text"]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.search-header:after {
  background: url("../../../img/icons.png") no-repeat -67px -2px;
  width: 13px;
  height: 13px;
  content: "";
  position: absolute;
  right: 14px;
  top: 10px;
}
.search-header .tt-dropdown-menu {
  width: 640px;
}
/*------Filtros home*/
.typeahead,
.tt-query,
.tt-hint {
/*width 549px
	height 30px
	padding 8px 12px*/
  font-size: 1em;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #989898;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #999;
}
.tt-dropdown-menu {
  width: 549px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 14px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 14px rgba(0,0,0,0.2);
  box-shadow: 0 5px 14px rgba(0,0,0,0.2);
  font-size: 0.9em;
}
.tt-dropdown-menu :after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 12px 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -12px;
  left: 15px;
  content: "";
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.75));
  -moz-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.75));
  -ms-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.75));
  -o-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.75));
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.75));
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 1.1em;
  line-height: 24px;
  font-family: "OpenSans-Regular";
  color: #666;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #989898;
}
.tt-suggestion p {
  margin: 0;
}
/*--------Pagina Home Slider-------*/
.fondo-slide {
  top: 0;
  text-align: center;
}
.box-slide {
  top: 25px;
  width: 100%;
}
.comment-slide {
  position: absolute;
  top: 320px;
  width: 500px;
}
.user-name-slide {
  color: #fff;
  font-size: 1.4em;
  padding-top: 10px;
  font-weight: bold;
  line-height: 22px;
}
.user-comment-slide {
  color: #ccc;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 4px;
  line-height: 22px;
}
.popover-comment {
  position: absolute;
  top: -170px;
  left: 25px;
  width: 445px;
  height: 150px;
  padding: 30px;
  background: #fff;
  border: #fff transparent solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 2.3em;
  color: #707070;
  font-family: "Myriad Pro";
  font-style: italic;
  text-transform: uppercase;
}
.popover-comment:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 25px;
  border-style: solid;
  border-width: 48px 48px 0 0;
  border-color: #fff transparent transparent transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.search-home {
  position: absolute;
  top: 407px;
  left: 50%;
  width: 745px;
  margin-left: -372.5px;
}
.box-search {
  background-color: #fff;
  padding: 7px 25px 10px 35px;
  border-radius: 5px;
}
.box-search h3 {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 1.3em;
  font-family: "Myriad Pro";
  color: #333;
}
.box-search .txt-search {
  float: left;
}
.box-search .btn-search {
  float: left;
}
.box-search input[type="text"] {
  width: 549px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 3px 10px;
  font-family: "Myriad Pro";
  color: #999;
}
.box-search input[type="text"]:focus {
  outline: none;
}
.box-search .btn-search {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #fff;
  padding: 6px 22px 3px 22px;
  margin: -10px -30px;
  font-size: 1.3em;
  font-family: "Myriad Pro";
  text-transform: uppercase;
}
.box-search .btn-search.dim {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 0px 0px;
}
.center {
  text-align: center;
}
a.btn-registrar-hotel {
  background-color: #006099;
  padding: 12px 2px;
  width: 250px;
  margin: 24px auto 28px auto;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  font-family: "Myriad Pro";
  box-shadow: inset 0px 0px 0px #456c8f, 0px 3px 0px 0px #456c8f, 0px 0px 0px;
}
a.btn-registrar-hotel:hover {
  color: #fff;
}
/*------Pagina comentarios-------*/
.box-comment {
  padding: 0;
}
.box-comment h4 {
  color: #19262e;
  font-weight: bold;
}
.box-comment .row {
  margin-left: 0;
  margin-right: 0;
}
.list-comment {
  padding-left: 0;
}
.list-comment li {
  display: block;
  border-top: 1px solid #e8e8e8;
}
.comment-b {
  padding: 25px 10px;
}
.user-name {
  color: #000;
}
.user-from {
  color: #ccc;
  font-size: 0.8em;
}
.border-comment-right {
  border-right: 1px solid #e8e8e8;
}
.title-comment {
  font-size: 1.2em;
  color: #000;
  padding-bottom: 3px;
}
.date-comment {
  font-size: 0.9em;
  color: #000;
  padding-bottom: 3px;
}
.description-comment {
  font-size: 0.9em;
  color: #969696;
  padding-bottom: 3px;
}
.loading,
.loading-c {
  text-align: center;
  display: none;
}
.more-comment {
  text-align: center;
}
.more-comment a {
  background-color: #006099;
  padding: 4px 15px;
  color: #fff;
  font-size: 1em;
  font-family: "OpenSans-SemiBold";
  moz-border-radius: 4px 4px 0 4px;
  webkit-border-radius: 4px 4px 0 4px;
  border-radius: 4px 4px 0 4px;
  text-decoration: none;
}
.more-comment a:hover {
  background-color: #0d85bf;
}
.fondo-carousel {
  position: absolute;
  margin-bottom: 20px;
}
.carousel-home {
  position: relative;
  margin: 175px 40px;
}
.carousel-home .popover-comment {
  width: 340px;
  height: 120px;
  top: -139px;
  font-size: 1.1em;
  text-transform: none;
  padding: 25px 20px;
}
.img-carousel {
  width: 53px;
}
.user-name-slide.carousel-ls {
  font-size: 1.1em;
  padding-top: 0;
}
.user-comment-slide.carousel-ls {
  font-size: 1em;
  line-height: 10px;
}
/*-----------------Footer-----------------*/
.footer {
  position: relative;
  margin-top: 25px;
  bottom: 0;
  background-color: #262626;
  min-height: 200px;
  width: 100%;
}
.footer .lista-footer {
  margin: 0;
}
.footer .lista-footer li {
  display: block;
  width: 230px;
}
.footer .lista-footer li > p {
  color: #fff;
  font-size: 0.8em;
  margin-top: 40px;
}
.footer .lista-footer li > p.news-letter {
  margin: 0;
}
.footer .lista-footer li > span {
  color: #6f6f6f;
  font-size: 0.8em;
  margin: 6px 0 0 0;
  display: inline-block;
}
.footer .lista-footer li > a {
  color: #fff;
  font-size: 0.9em;
  font-family: "Myriad Pro";
}
.footer .lista-footer li.x-li {
  width: 300px;
}
.footer >.container {
  padding: 45px 40px;
}
.footer .news-letter input[type="text"] {
  width: 261px;
  height: 31px;
  background-color: #121212;
  border: 1px solid #000;
  padding: 5px;
}
.footer .news-letter input[type="text"]:focus {
  outline: none;
}
.footer a.btn-suscribirse {
  background-color: #006099;
  padding: 6px 2px;
  width: 100px;
  margin: 8px 0 0 0;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Myriad Pro";
}
.footer .lista-footer.m1 {
  margin: 0 10px;
}
.footer h3 {
  color: #fff;
  font-size: 1.8em;
  font-family: "Myriad Pro";
  font-weight: lighter;
  margin-top: 15px;
}
.footer h4 {
  color: #da8323;
  font-size: 1.8em;
  font-family: "Myriad Pro";
}
/*--------------------Pagina Search---------------------------------*/
.carousel {
  width: 199px;
  float: left;
  border-radius: 14px 0px 14px 0px;
}
.carousel-control {
  width: 4%;
}
.carousel-control.left {
  background-image: none;
  left: 15px;
}
.carousel-control.right {
  background-image: none;
  right: 15px;
}
.carousel-inner {
  width: 199px;
  border-radius: 14px 0px 14px 0px;
}
.carousel-inner > .item {
  border-radius: 14px 0px 14px 0px;
}
.nav-header-sec {
  background-color: #f2f2f2;
}
.nav-header-sec ul {
  margin: 5px 35px;
  float: left;
}
.nav-header-sec ul > li {
  float: left;
  display: block;
  margin: 0 7px;
}
.nav-header-sec ul > li > a {
  color: #616161;
  text-decoration: none;
  font-family: "Myriad Pro";
  font-size: 1.1em;
  cursor: default;
}
.nav-header-sec ul > li > a.cursive {
  font-style: italic;
}
.nav-header-sec ul > li > a.negrita {
  color: #000;
}
.nav-header-sec ul > li > a.si:hover {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
.out {
  display: none;
}
.box-hotel-search {
  margin: 20px auto;
}
.box-hotel-search .col-xs-3 {
  padding-right: 0;
}
.box-hotel-search .col-xs-9 {
  padding-left: 0;
}
.box-hotel-search .title-filtro {
  background-color: #f4f2f2;
  float: left;
  width: 100%;
  height: 40px;
}
.box-hotel-search .title-filtro .title {
  float: left;
  font-family: "OpenSans-Semibold";
  font-size: 1.3em;
  text-transform: uppercase;
  color: #5a656a;
  margin: 8px 10px;
}
.box-hotel-search .title-filtro .box-caret {
  float: right;
  background-color: #0179b3;
  padding: 18px 15px 5px 15px;
}
.box-hotel-search .title-filtro .box-caret .x-caret {
  background: url("../../../img/icons.png") no-repeat -84px -8px;
  width: 10px;
  height: 17px;
  float: left;
}
.box-hotel-search .box-filtros-h {
  float: left;
  -webkit-box-shadow: -5px 5px 10px 0px #ebebeb;
  -moz-box-shadow: -5px 5px 10px 0px #ebebeb;
  box-shadow: -5px 5px 10px 0px #ebebeb;
}
.box-hotel-search .box-filtros-h .t-precio {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 7px 1px 7px;
  color: #036da0;
  font-family: "OpenSans-Semibold";
  font-size: 1.1em;
}
.box-hotel-search .box-filtros-h .input-group {
  margin: 7px auto;
}
.box-hotel-search .box-filtros-h .btn-precio {
  background-color: #017eba;
  padding: 5px;
  float: left;
  width: 275px;
  margin: 15px 5px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "OpenSans-Regular";
  font-size: 1.4em;
  text-decoration: none;
}
.box-hotel-search .box-filtros-h .btn-precio:hover {
  background-color: #0d8bc8;
}
.box-hotel-search .box-filtros-h .box-precios .ota {
  margin: 0 0 5px 5px;
}
.box-hotel-search .box-filtros-h .box-precios .ota .logo-ota {
  float: left;
  width: 135.5px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 8px 0;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link {
  float: left;
  width: 139.5px;
  background-color: #017eba;
  height: 45px;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link .precio {
  float: left;
  margin: 8px 15px;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link .precio a {
  color: #fff;
  font-size: 1.6em;
  font-family: "Myriad Pro";
  text-decoration: none;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link .precio-caret {
  float: right;
  background-color: #036da0;
  padding: 14px 20px 14px 20px;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link .precio-caret:hover {
  background-color: #0a5c84;
}
.box-hotel-search .box-filtros-h .box-precios .ota .precios-link .precio-caret > .x-caret {
  background: url("../../../img/icons.png") no-repeat -97px 0px;
  width: 11px;
  height: 16px;
  float: left;
}
.box-hotel-search .col-xs-3,
.box-hotel-search .col-xs-7 {
  padding-left: 0;
}
.box-hotel-search .title h3 {
  margin-bottom: 0;
  font-size: 1.3em;
  color: #607a99;
  font-family: "Gautami";
}
.box-hotel-search .box-txt {
  width: 580px;
  float: left;
}
.box-hotel-search .box-txt.no {
  width: 550px;
}
.box-hotel-search .box-btn {
  width: 540px;
  float: left;
}
.box-hotel-search .box-btn.no {
  width: 575px;
}
.box-hotel-search .box-btn .box-filtros {
  float: left;
  margin-top: 12px;
}
.box-hotel-search .box-btn .box-filtros .label {
  float: left;
  color: #333;
  font-size: 1em;
  font-family: "OpenSans-Bold";
}
.box-hotel-search .box-btn .box-filtros .box-select {
  float: left;
  margin-left: 15px;
  margin-top: -5px;
}
.box-hotel-search .box-btn .box-filtros .box-vistas {
  float: left;
  margin-left: 15px;
}
.label-filtro-hotel {
  margin: 35px 0 0 0;
  padding: 5px 12px;
  color: #333;
  font-family: "Raleway Bold";
  font-size: 1.5em;
  float: left;
}
.box-hotel-recomend {
  background-color: #fff;
  padding: 5px 0px;
  float: left;
  width: 100%;
}
.box-hotel-recomend .item-hotel-recomend {
  border: 1px solid #e8e8e8;
  padding: 8px 8px;
  margin-bottom: 5px;
}
.box-hotel-recomend .item-hotel-recomend .foto {
  float: left;
  margin-right: 25px;
}
.box-hotel-recomend .item-hotel-recomend .foto a > img {
  width: 83px;
  height: 63px;
}
.box-hotel-recomend .item-hotel-recomend .foto .detalle {
  float: left;
  width: 140px;
}
.box-hotel-recomend .item-hotel-recomend .name-h a {
  color: #a9aaaa;
  font-family: "Myriad Pro";
  font-size: 1em;
  line-height: 14px;
}
.box-hotel-recomend .item-hotel-recomend .star-h {
  float: left;
  margin: 5px 0;
}
.box-hotel-recomend .item-hotel-recomend .star-h .item-star {
  background: url("../../../img/icons.png") no-repeat -35px -5px;
  width: 12px;
  height: 11px;
  float: left;
}
.box-hotel-recomend .item-hotel-recomend .star-h .item-star-no {
  background: url("../../../img/icons.png") no-repeat -51px -5px;
  width: 13px;
  height: 11px;
  float: left;
}
.selectx {
  float: left;
  margin: 0 0 0 35px;
}
.selectx .styled {
  position: relative;
  width: 121px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 5;
  font-family: "OpenSans-Regular";
  font-size: 0.9em;
  height: 32px;
  color: #6d6d6d;
  padding: 5px;
}
.selectx span.select {
  position: absolute;
  width: 121px;
  height: 32px;
  padding: 8px 0px 0 8px;
  color: #6d6d6d;
  font-family: "OpenSans-Regular";
  font-size: 0.9em;
  background: url("../../../img/select-search.png") no-repeat;
  overflow: hidden;
}
.selectx.no {
  margin: 0;
}
.box-search-2 {
  margin: 8px 0;
}
.box-search-btn {
  float: left;
}
.box-search-btn .btn-search {
  background-color: #3389d7;
  border-color: #1c84c6;
  color: #fff;
  padding: 6px 22px 3px 22px;
  margin: -4px 12px;
  font-size: 1.1em;
  font-family: "DroidSans";
  text-transform: uppercase;
}
.box-search-btn .btn-search.dim {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 0px 0px;
}
.box-search-txt {
  float: left;
}
.box-search-txt input[type=text] {
  width: 413px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 3px 10px;
  font-family: "Myriad Pro";
  color: #999;
}
.box-search-txt input[type=text]:focus {
  outline: none;
}
.box-search-txt input[type=text].error {
  border: 2px solid #006099;
  color: #006099;
}
.box-search-txt .error::-webkit-input-placeholder {
  color: #006099;
}
.box-vistas .icon {
  float: left;
  margin-left: 15px;
  color: #999;
  font-size: 1.3em;
}
.row.no {
  margin-left: 0;
  margin-right: 0;
}
.margin {
  margin: 15px 0;
}
.box-hotel-item {
  padding: 7px 0 7px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  margin-bottom: 20px;
}
.box-hotel-item .box-motor-item {
  float: left;
}
.box-hotel-item .box-motor-item .t-precio {
  font-family: "OpenSans-Semibold";
  color: #6d6d6d;
  font-size: 1.1em;
}
.box-hotel-item .box-motor-item .box-calendar {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
  -webkit-box-shadow: -5px 5px 10px 0px #ebebeb;
  -moz-box-shadow: -5px 5px 10px 0px #ebebeb;
  box-shadow: -5px 5px 10px 0px #ebebeb;
}
.box-hotel-item .box-motor-item .box-calendar .no-items {
  color: #006099;
  font-size: 1.1em;
  font-family: "OpenSans-Semibold";
}
.box-hotel-item .box-motor-item .box-calendar .btn-precio {
  background-color: #6d6d6d;
  padding: 4px;
  float: left;
  width: 190px;
  margin: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "OpenSans-Regular";
  font-size: 1.2em;
  text-decoration: none;
}
.box-hotel-item .box-motor-item .box-calendar .btn-precio:hover {
  background-color: #787878;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios {
  margin: 5px 0;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota {
  margin: 0 0 5px 14px;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .logo-ota {
  float: left;
  width: 129px;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 2px 0 2px 10px;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link {
  float: left;
  width: 110px;
  background-color: #017eba;
  height: 33px;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link .precio {
  float: left;
  margin: 4px 0 0 22px;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link .precio a {
  color: #fff;
  font-size: 1.2em;
  font-family: "Myriad Pro";
  text-decoration: none;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link .precio-caret {
  float: right;
  background-color: #036da0;
  padding: 11px 13px 11px 13px;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link .precio-caret:hover {
  background-color: #0a5c84;
}
.box-hotel-item .box-motor-item .box-calendar .box-precios .ota .precios-link .precio-caret > .x-caret {
  background: url("../../../img/icons.png") no-repeat -130px -2px;
  width: 8px;
  height: 11px;
  float: left;
}
.box-hotel-item .box-motor-item .box-calendar #datepicker .input-parent.input-container {
  float: left;
  margin: 2px 13px;
}
.box-hotel-item .box-motor-item .box-calendar #datepicker .beatpicker-input-to.beatpicker-inputnode-to.beatpicker-input.beatpicker-inputnode {
  margin: 0 0 0 10px;
}
.box-hotel-item .box-motor-item .box-calendar #datepicker input[type=text] {
  width: 115px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ee892e;
  padding: 4px 10px;
  font-family: "Myriad Pro";
  color: #999;
  background: url("../../../img/calendar2.png");
  background-position: right 0px;
  background-repeat: no-repeat;
}
.box-hotel-item .col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}
.box-hotel-item .border-right {
  border-right: 1px solid #000;
}
.box-hotel-item .col-xs-9.no {
  padding-left: 0;
  padding-right: 0;
}
.box-hotel-item .detalle-hotel {
  padding: 10px 0 10px 0px;
  float: left;
  width: 100%;
}
.box-hotel-item .detalle-hotel .box-head-hotel {
  float: left;
  width: 100%;
}
.box-hotel-item .detalle-hotel .box-head-hotel .puntaje {
  float: left;
  background-color: #ef8a38;
  padding: 4px 4px;
  color: #fff;
  font-size: 1.5em;
  moz-border-radius: 4px 4px 0 4px;
  webkit-border-radius: 4px 4px 0 4px;
  border-radius: 4px 4px 0 4px;
  font-family: "OpenSans-Bold";
}
.box-hotel-item .detalle-hotel .box-head-hotel .box-name-hotel .name-hotel a {
  color: #4d4d4d;
  font-family: "OpenSans-SemiBold";
  font-size: 1.8em;
  margin: 0 25px 0 0;
  float: left;
  line-height: 1.1;
}
.box-hotel-item .detalle-hotel .box-head-hotel .box-direccion a {
  color: #006099;
  margin: 0 0 0 15px;
}
.box-hotel-item .detalle-hotel .image img {
  moz-border-radius: 14px 0px 14px 0px;
  webkit-border-radius: 14px 0px 14px 0px;
  border-radius: 14px 0px 14px 0px;
  width: 199px;
  height: 200px;
}
.box-hotel-item .detalle-hotel .detalle {
  float: left;
  width: 613px;
  margin: 0 0 0 20px;
}
.box-hotel-item .detalle-hotel .image {
  float: right;
}
.box-hotel-item .detalle-hotel .texto {
  float: left;
  margin: 10px 0;
}
.box-hotel-item .detalle-hotel .texto > p {
  color: #999;
  font-family: "OpenSans-Regular";
  font-size: 0.9em;
}
.box-hotel-item .detalle-hotel .icons-servicios {
  float: left;
}
.box-hotel-item .detalle-hotel .box-btn-comentario {
  margin: 2px 47px;
  float: left;
}
.box-hotel-item .detalle-hotel .box-btn-comentario a.btn-comentario {
  background-color: #017eba;
  padding: 8px 28px 8px 12px;
  color: #fff;
  font-size: 0.9em;
  font-family: "OpenSans-Regular";
  float: right;
  text-decoration: none;
}
.box-hotel-item .detalle-hotel .box-btn-comentario .icon-btn {
  float: right;
  margin: 0;
  padding: 12px 15px 11px 15px;
  background-color: #036da0;
}
.box-hotel-item .detalle-hotel .box-btn-comentario .icon-btn:hover {
  background-color: #0a5c84;
}
.box-hotel-item .detalle-hotel .box-btn-comentario .icon-btn .x-caret {
  background: url("../../../img/icons.png") no-repeat -130px -2px;
  width: 8px;
  height: 11px;
  float: left;
}
.box-star-mapa {
  float: left;
  margin: 5px 0;
  width: 100%;
/*& .star .item-star 
		background url('../../../img/icons.png') no-repeat -14px 0
		width 17px
		height 16px
		float left
		margin 0 2px*/
/*& .mapa .item-mapa
		background url('../../../img/icons.png') no-repeat 0 0
		width 11px
		height 16px
		float left*/
}
.box-star-mapa .mapa {
  float: left;
  margin: 0 35px;
}
.box-star-mapa .mapa a {
  color: #4b4b4b;
  font-size: 1em;
  text-decoration: none;
  float: left;
  margin: 0 8px;
  font-family: "OpenSans-SemiBold";
}
.star {
  float: left;
}
.star .item-star {
  background: url("../../../img/icons.png") no-repeat -111px 0;
  width: 15px;
  height: 15px;
  float: left;
  margin: 0 2px;
}
.item-mapa {
  background: url("../../../img/icons.png") no-repeat 0 0;
  width: 11px;
  height: 16px;
  float: left;
}
/*-----------------------Comentarios------------------------------------*/
.box-head-hotel {
  float: left;
  width: 100%;
}
.box-head-hotel .puntaje {
  float: left;
  background-color: #006099;
  padding: 5px 5px;
  color: #fff;
  font-size: 2.7em;
  moz-border-radius: 4px 4px 0 4px;
  webkit-border-radius: 4px 4px 0 4px;
  border-radius: 4px 4px 0 4px;
  font-family: "OpenSans-Bold";
}
.box-head-hotel .box-name-hotel {
  float: left;
  margin: 0 0 0 15px;
  width: 90%;
}
.box-head-hotel .box-name-hotel .name-hotel {
  float: left;
  width: 100%;
}
.box-head-hotel .box-name-hotel .name-hotel h2 {
  color: #4d4d4d;
  font-family: "OpenSans-SemiBold";
  font-size: 2.1em;
  margin: 0 25px 0 0;
  float: left;
}
.box-head-hotel .box-direccion {
  margin: 5px 0;
  display: inline-block;
  float: left;
}
.box-head-hotel .box-direccion .direccion {
  float: left;
  margin: 0 8px;
  font-family: "OpenSans-SemiBold";
  color: #2b2b2b;
}
.tab-hotel {
  margin: 5px 0;
  float: left;
  width: 100%;
  background-color: #4d4d4d;
}
.tab-hotel .nav-tabs {
  border-bottom: none;
}
.tab-hotel .nav-tabs > li.active > a,
.tab-hotel .nav-tabs > li.active > a:hover,
.tab-hotel .nav-tabs > li.active > a:focus {
  border: none;
  background-color: #027eba;
  color: #fff;
}
.tab-hotel .nav-tabs > li {
  margin-bottom: 0;
}
.tab-hotel .nav-tabs > li > a {
  border-radius: 0;
  background-color: #4d4d4d;
  color: #fff;
  margin-right: 0;
  border: none;
  font-family: "OpenSans-Bold";
  font-size: 0.9em;
  font-weight: lighter;
}
.tab-hotel .nav-tabs > li > a:hover {
  border-bottom: none;
  background-color: #027eba;
}
.tab-hotel .nav > li > a {
  padding: 10px 25px;
}
.beatpicker .header {
  padding-left: 0;
  padding-right: 0;
}
.beatpicker .disabled {
  opacity: 100;
}
.beatpicker li.cell {
  width: 30px;
}
.beatpicker .days .cell-parent li.cell.cell-months,
.beatpicker .days .cell-parent li.cell.cell-years {
  padding: 8px 8px;
  width: 30%;
}
#datepicker input[type=text] {
  width: 125px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 4px 10px;
  font-family: "Myriad Pro";
  color: #999;
  background: url("../../../img/calendar.png");
  background-position: right 0px;
  background-repeat: no-repeat;
}
#datepicker .input-parent.input-container {
  float: left;
}
#datepicker .beatpicker-input-to.beatpicker-inputnode-to.beatpicker-input.beatpicker-inputnode {
  margin: 0 0 0 24px;
}
#datepicker a {
  float: left;
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #fff;
  padding: 5px 12px 4px 12px;
  font-size: 1em;
  font-family: "Myriad Pro";
  text-decoration: none;
}
.panel-body.hotel {
  float: left;
  width: 100%;
  padding: 0;
}
.panel-body.hotel .comentario-item {
  margin: 0 0 15px 0;
  float: left;
}
.panel-body.hotel .title-comment {
  margin: 10px 0 15px 0;
  padding: 0 0px 5px 0px;
  float: left;
  width: 100%;
}
.panel-body.hotel .title-comment .title-c {
  float: left;
  color: #036da0;
  font-family: "OpenSans-Semibold";
  font-size: 0.9em;
}
.panel-body.hotel .title-comment .select-puntaje {
  float: right;
}
.panel-body.hotel .title-comment .select-puntaje.selectx span.select {
  padding: 7px 0px 0 12px;
  font-size: 0.8em;
}
.panel-body.hotel .title-comment .select-puntaje.selectx select {
  font-size: 0.8em;
}
.panel-body.hotel .box-comentario {
  float: left;
}
.panel-body.hotel .box-comentario .user-from {
  float: left;
  width: 147px;
  padding: 8px 0 0 12px;
}
.panel-body.hotel .box-comentario .user-from .bandera {
  text-align: center;
  font-size: 1.7em;
  margin: 15px 0 0 0;
}
.panel-body.hotel .box-comentario .user-from .nombre-user {
  text-align: center;
}
.panel-body.hotel .box-comentario .user-from .nombre-user a {
  color: #006099;
  text-decoration: none;
  font-family: "OpenSans-Bold";
  font-size: 1.4em;
  cursor: default;
}
.panel-body.hotel .box-comentario .user-from .ciudad-user {
  text-align: center;
  color: #2d2d2d;
  font-family: "OpenSans-Bold";
  font-size: 1.2em;
}
.panel-body.hotel .box-comentario .user-from .col-logo {
  text-align: center;
}
.panel-body.hotel .box-comentario .user-from .col-logo img {
  width: 60%;
}
.panel-body.hotel .box-comentario .comentario-container {
  float: left;
  border: 1px solid #ededed;
  width: 685px;
  padding: 6px;
  position: relative;
  min-height: 100px;
}
.panel-body.hotel .box-comentario .comentario-container:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 15px 12.5px 0;
  border-color: transparent #ededed transparent transparent;
  position: absolute;
  left: -15px;
  top: 13px;
  content: "";
}
.panel-body.hotel .box-comentario .comentario-container .box-col-comentario {
  float: left;
  width: 100%;
}
.panel-body.hotel .box-comentario .comentario-container .col-puntaje {
  float: left;
}
.panel-body.hotel .box-comentario .comentario-container .col-puntaje > .puntaje {
  float: left;
  background-color: #4d4d4d;
  padding: 3px 3px;
  color: #fff;
  font-size: 1.2em;
  moz-border-radius: 3px 3px 0 3px;
  webkit-border-radius: 3px 3px 0 3px;
  border-radius: 3px 3px 0 3px;
  font-family: "OpenSans-Bold";
  margin: 0;
  width: 30px;
  text-align: center;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario {
  float: left;
  width: 92%;
  margin: 0 0 0 13px;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario .col-head-comment {
  float: left;
  width: 100%;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario .col-head-comment > .col-fecha {
  float: right;
  color: #282828;
  font-family: "OpenSans-SemiBold";
  margin: 0 2px;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario .titulo-comment {
  float: left;
  margin: 0;
  color: #006099;
  font-family: "OpenSans-Regular";
  font-size: 1em;
  font-weight: bolder;
  width: 430px;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario .comentario-text {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.panel-body.hotel .box-comentario .comentario-container .col-comentario .comentario-text p {
  font-family: "OpenSans-Regular";
  font-size: 1em;
  color: #636363;
  margin: 0 0 4px 0;
}
.panel-body.hotel .box-comentario .comentario-container .box-col-opciones {
  float: left;
  background-color: #f9f9f9;
  width: 100%;
  margin: 8px 0 2px 0;
  padding: 5px 25px;
}
.panel-body.hotel .mapa-url {
  width: 100%;
}
.modal.mapa .modal-dialog {
  width: 800px;
}
.modal.mapa .modal-header {
  border: none;
  padding: 0;
}
.modal.mapa .modal-body {
  padding: 0 15px 15px 15px;
}
.modal.mapa .modal-header .close {
  margin-top: -9px;
  margin-right: -10px;
  font-size: 1.3em;
  width: 25px;
  background-color: #006099;
  opacity: 10;
  color: #fff;
  line-height: 17px;
  padding-bottom: 5px;
}
/*-----------------------Motor reservas------------------------------*/
.daterangepicker.opensright .ranges {
  display: none;
}
.row.no.otas {
  margin: 15px 0 0 0;
}
.row.no.otas .logo {
  border: 1px solid #eee;
}
.row.no.otas .ota {
  margin-bottom: 4px;
}
.row.no.otas .ota .precio {
  float: left;
  padding: 5px;
  border: 1px solid #eee;
  color: #fff;
  background-color: #006099;
  border-radius: 50px;
}
.row.no.otas .ota .btn-oferta {
  float: left;
}
.row.no.otas .ota .btn-oferta a {
  float: left;
  background-color: #ec7e2b;
  border-color: #d75024;
  color: #fff;
  padding: 5px 12px 5px 12px;
  margin: 2px 13px;
  font-size: 1em;
  font-family: "Raleway SemiBold";
  background-image: -webkit-linear-gradient(top, #eb7d2b, #e25020);
  background-image: -moz-linear-gradient(top, #eb7d2b, #e25020);
  background-image: -ms-linear-gradient(top, #eb7d2b, #e25020);
  background-image: -o-linear-gradient(top, #eb7d2b, #e25020);
  background-image: linear-gradient(to bottom, #eb7d2b, #e25020);
}
.row.no.otas .ota .btn-oferta a:hover {
  background: #eb7d2b;
  background-image: -webkit-linear-gradient(top, #eb7d2b, #eb7d2b);
  background-image: -moz-linear-gradient(top, #eb7d2b, #eb7d2b);
  background-image: -ms-linear-gradient(top, #eb7d2b, #eb7d2b);
  background-image: -o-linear-gradient(top, #eb7d2b, #eb7d2b);
  background-image: linear-gradient(to bottom, #eb7d2b, #eb7d2b);
  text-decoration: none;
}
/*--------------------Banderas---------------------------------------*/
.flag {
  width: 16px;
  height: 11px;
  float: left;
  margin: 14px 5px;
  background: url("../../../img/flags.png");
  background-repeat: no-repeat;
}
.flag.flag-ad {
  background-position: -16px 0;
}
.flag.flag-ae {
  background-position: -32px 0;
}
.flag.flag-af {
  background-position: -48px 0;
}
.flag.flag-ag {
  background-position: -64px 0;
}
.flag.flag-ai {
  background-position: -80px 0;
}
.flag.flag-al {
  background-position: -96px 0;
}
.flag.flag-am {
  background-position: -112px 0;
}
.flag.flag-an {
  background-position: -128px 0;
}
.flag.flag-ao {
  background-position: -144px 0;
}
.flag.flag-ar {
  background-position: -160px 0;
}
.flag.flag-as {
  background-position: -176px 0;
}
.flag.flag-at {
  background-position: -192px 0;
}
.flag.flag-au {
  background-position: -208px 0;
}
.flag.flag-aw {
  background-position: -224px 0;
}
.flag.flag-az {
  background-position: -240px 0;
}
.flag.flag-ba {
  background-position: 0 -11px;
}
.flag.flag-bb {
  background-position: -16px -11px;
}
.flag.flag-bd {
  background-position: -32px -11px;
}
.flag.flag-be {
  background-position: -48px -11px;
}
.flag.flag-bf {
  background-position: -64px -11px;
}
.flag.flag-bg {
  background-position: -80px -11px;
}
.flag.flag-bh {
  background-position: -96px -11px;
}
.flag.flag-bi {
  background-position: -112px -11px;
}
.flag.flag-bj {
  background-position: -128px -11px;
}
.flag.flag-bm {
  background-position: -144px -11px;
}
.flag.flag-bn {
  background-position: -160px -11px;
}
.flag.flag-bo {
  background-position: -176px -11px;
}
.flag.flag-br {
  background-position: -192px -11px;
}
.flag.flag-bs {
  background-position: -208px -11px;
}
.flag.flag-bt {
  background-position: -224px -11px;
}
.flag.flag-bv {
  background-position: -240px -11px;
}
.flag.flag-bw {
  background-position: 0 -22px;
}
.flag.flag-by {
  background-position: -16px -22px;
}
.flag.flag-bz {
  background-position: -32px -22px;
}
.flag.flag-ca {
  background-position: -48px -22px;
}
.flag.flag-catalonia {
  background-position: -64px -22px;
}
.flag.flag-cd {
  background-position: -80px -22px;
}
.flag.flag-cf {
  background-position: -96px -22px;
}
.flag.flag-cg {
  background-position: -112px -22px;
}
.flag.flag-ch {
  background-position: -128px -22px;
}
.flag.flag-ci {
  background-position: -144px -22px;
}
.flag.flag-ck {
  background-position: -160px -22px;
}
.flag.flag-cl {
  background-position: -176px -22px;
}
.flag.flag-cm {
  background-position: -192px -22px;
}
.flag.flag-cn {
  background-position: -208px -22px;
}
.flag.flag-co {
  background-position: -224px -22px;
}
.flag.flag-cr {
  background-position: -240px -22px;
}
.flag.flag-cu {
  background-position: 0 -33px;
}
.flag.flag-cv {
  background-position: -16px -33px;
}
.flag.flag-cw {
  background-position: -32px -33px;
}
.flag.flag-cy {
  background-position: -48px -33px;
}
.flag.flag-cz {
  background-position: -64px -33px;
}
.flag.flag-de {
  background-position: -80px -33px;
}
.flag.flag-dj {
  background-position: -96px -33px;
}
.flag.flag-dk {
  background-position: -112px -33px;
}
.flag.flag-dm {
  background-position: -128px -33px;
}
.flag.flag-do {
  background-position: -144px -33px;
}
.flag.flag-dz {
  background-position: -160px -33px;
}
.flag.flag-ec {
  background-position: -176px -33px;
}
.flag.flag-ee {
  background-position: -192px -33px;
}
.flag.flag-eg {
  background-position: -208px -33px;
}
.flag.flag-eh {
  background-position: -224px -33px;
}
.flag.flag-england {
  background-position: -240px -33px;
}
.flag.flag-er {
  background-position: 0 -44px;
}
.flag.flag-es {
  background-position: -16px -44px;
}
.flag.flag-et {
  background-position: -32px -44px;
}
.flag.flag-eu {
  background-position: -48px -44px;
}
.flag.flag-fi {
  background-position: -64px -44px;
}
.flag.flag-fj {
  background-position: -80px -44px;
}
.flag.flag-fk {
  background-position: -96px -44px;
}
.flag.flag-fm {
  background-position: -112px -44px;
}
.flag.flag-fo {
  background-position: -128px -44px;
}
.flag.flag-fr {
  background-position: -144px -44px;
}
.flag.flag-ga {
  background-position: -160px -44px;
}
.flag.flag-gb {
  background-position: -176px -44px;
}
.flag.flag-gd {
  background-position: -192px -44px;
}
.flag.flag-ge {
  background-position: -208px -44px;
}
.flag.flag-gf {
  background-position: -224px -44px;
}
.flag.flag-gg {
  background-position: -240px -44px;
}
.flag.flag-gh {
  background-position: 0 -55px;
}
.flag.flag-gi {
  background-position: -16px -55px;
}
.flag.flag-gl {
  background-position: -32px -55px;
}
.flag.flag-gm {
  background-position: -48px -55px;
}
.flag.flag-gn {
  background-position: -64px -55px;
}
.flag.flag-gp {
  background-position: -80px -55px;
}
.flag.flag-gq {
  background-position: -96px -55px;
}
.flag.flag-gr {
  background-position: -112px -55px;
}
.flag.flag-gs {
  background-position: -128px -55px;
}
.flag.flag-gt {
  background-position: -144px -55px;
}
.flag.flag-gu {
  background-position: -160px -55px;
}
.flag.flag-gw {
  background-position: -176px -55px;
}
.flag.flag-gy {
  background-position: -192px -55px;
}
.flag.flag-hk {
  background-position: -208px -55px;
}
.flag.flag-hm {
  background-position: -224px -55px;
}
.flag.flag-hn {
  background-position: -240px -55px;
}
.flag.flag-hr {
  background-position: 0 -66px;
}
.flag.flag-ht {
  background-position: -16px -66px;
}
.flag.flag-hu {
  background-position: -32px -66px;
}
.flag.flag-ic {
  background-position: -48px -66px;
}
.flag.flag-id {
  background-position: -64px -66px;
}
.flag.flag-ie {
  background-position: -80px -66px;
}
.flag.flag-il {
  background-position: -96px -66px;
}
.flag.flag-im {
  background-position: -112px -66px;
}
.flag.flag-in {
  background-position: -128px -66px;
}
.flag.flag-io {
  background-position: -144px -66px;
}
.flag.flag-iq {
  background-position: -160px -66px;
}
.flag.flag-ir {
  background-position: -176px -66px;
}
.flag.flag-is {
  background-position: -192px -66px;
}
.flag.flag-it {
  background-position: -208px -66px;
}
.flag.flag-je {
  background-position: -224px -66px;
}
.flag.flag-jm {
  background-position: -240px -66px;
}
.flag.flag-jo {
  background-position: 0 -77px;
}
.flag.flag-jp {
  background-position: -16px -77px;
}
.flag.flag-ke {
  background-position: -32px -77px;
}
.flag.flag-kg {
  background-position: -48px -77px;
}
.flag.flag-kh {
  background-position: -64px -77px;
}
.flag.flag-ki {
  background-position: -80px -77px;
}
.flag.flag-km {
  background-position: -96px -77px;
}
.flag.flag-kn {
  background-position: -112px -77px;
}
.flag.flag-kp {
  background-position: -128px -77px;
}
.flag.flag-kr {
  background-position: -144px -77px;
}
.flag.flag-kurdistan {
  background-position: -160px -77px;
}
.flag.flag-kw {
  background-position: -176px -77px;
}
.flag.flag-ky {
  background-position: -192px -77px;
}
.flag.flag-kz {
  background-position: -208px -77px;
}
.flag.flag-la {
  background-position: -224px -77px;
}
.flag.flag-lb {
  background-position: -240px -77px;
}
.flag.flag-lc {
  background-position: 0 -88px;
}
.flag.flag-li {
  background-position: -16px -88px;
}
.flag.flag-lk {
  background-position: -32px -88px;
}
.flag.flag-lr {
  background-position: -48px -88px;
}
.flag.flag-ls {
  background-position: -64px -88px;
}
.flag.flag-lt {
  background-position: -80px -88px;
}
.flag.flag-lu {
  background-position: -96px -88px;
}
.flag.flag-lv {
  background-position: -112px -88px;
}
.flag.flag-ly {
  background-position: -128px -88px;
}
.flag.flag-ma {
  background-position: -144px -88px;
}
.flag.flag-mc {
  background-position: -160px -88px;
}
.flag.flag-md {
  background-position: -176px -88px;
}
.flag.flag-me {
  background-position: -192px -88px;
}
.flag.flag-mg {
  background-position: -208px -88px;
}
.flag.flag-mh {
  background-position: -224px -88px;
}
.flag.flag-mk {
  background-position: -240px -88px;
}
.flag.flag-ml {
  background-position: 0 -99px;
}
.flag.flag-mm {
  background-position: -16px -99px;
}
.flag.flag-mn {
  background-position: -32px -99px;
}
.flag.flag-mo {
  background-position: -48px -99px;
}
.flag.flag-mp {
  background-position: -64px -99px;
}
.flag.flag-mq {
  background-position: -80px -99px;
}
.flag.flag-mr {
  background-position: -96px -99px;
}
.flag.flag-ms {
  background-position: -112px -99px;
}
.flag.flag-mt {
  background-position: -128px -99px;
}
.flag.flag-mu {
  background-position: -144px -99px;
}
.flag.flag-mv {
  background-position: -160px -99px;
}
.flag.flag-mw {
  background-position: -176px -99px;
}
.flag.flag-mx {
  background-position: -192px -99px;
}
.flag.flag-my {
  background-position: -208px -99px;
}
.flag.flag-mz {
  background-position: -224px -99px;
}
.flag.flag-na {
  background-position: -240px -99px;
}
.flag.flag-nc {
  background-position: 0 -110px;
}
.flag.flag-ne {
  background-position: -16px -110px;
}
.flag.flag-nf {
  background-position: -32px -110px;
}
.flag.flag-ng {
  background-position: -48px -110px;
}
.flag.flag-ni {
  background-position: -64px -110px;
}
.flag.flag-nl {
  background-position: -80px -110px;
}
.flag.flag-no {
  background-position: -96px -110px;
}
.flag.flag-np {
  background-position: -112px -110px;
}
.flag.flag-nr {
  background-position: -128px -110px;
}
.flag.flag-nu {
  background-position: -144px -110px;
}
.flag.flag-nz {
  background-position: -160px -110px;
}
.flag.flag-om {
  background-position: -176px -110px;
}
.flag.flag-pa {
  background-position: -192px -110px;
}
.flag.flag-pe {
  background-position: -208px -110px;
}
.flag.flag-pf {
  background-position: -224px -110px;
}
.flag.flag-pg {
  background-position: -240px -110px;
}
.flag.flag-ph {
  background-position: 0 -121px;
}
.flag.flag-pk {
  background-position: -16px -121px;
}
.flag.flag-pl {
  background-position: -32px -121px;
}
.flag.flag-pm {
  background-position: -48px -121px;
}
.flag.flag-pn {
  background-position: -64px -121px;
}
.flag.flag-pr {
  background-position: -80px -121px;
}
.flag.flag-ps {
  background-position: -96px -121px;
}
.flag.flag-pt {
  background-position: -112px -121px;
}
.flag.flag-pw {
  background-position: -128px -121px;
}
.flag.flag-py {
  background-position: -144px -121px;
}
.flag.flag-qa {
  background-position: -160px -121px;
}
.flag.flag-re {
  background-position: -176px -121px;
}
.flag.flag-ro {
  background-position: -192px -121px;
}
.flag.flag-rs {
  background-position: -208px -121px;
}
.flag.flag-ru {
  background-position: -224px -121px;
}
.flag.flag-rw {
  background-position: -240px -121px;
}
.flag.flag-sa {
  background-position: 0 -132px;
}
.flag.flag-sb {
  background-position: -16px -132px;
}
.flag.flag-sc {
  background-position: -32px -132px;
}
.flag.flag-scotland {
  background-position: -48px -132px;
}
.flag.flag-sd {
  background-position: -64px -132px;
}
.flag.flag-se {
  background-position: -80px -132px;
}
.flag.flag-sg {
  background-position: -96px -132px;
}
.flag.flag-sh {
  background-position: -112px -132px;
}
.flag.flag-si {
  background-position: -128px -132px;
}
.flag.flag-sk {
  background-position: -144px -132px;
}
.flag.flag-sl {
  background-position: -160px -132px;
}
.flag.flag-sm {
  background-position: -176px -132px;
}
.flag.flag-sn {
  background-position: -192px -132px;
}
.flag.flag-so {
  background-position: -208px -132px;
}
.flag.flag-somaliland {
  background-position: -224px -132px;
}
.flag.flag-sr {
  background-position: -240px -132px;
}
.flag.flag-ss {
  background-position: 0 -143px;
}
.flag.flag-st {
  background-position: -16px -143px;
}
.flag.flag-sv {
  background-position: -32px -143px;
}
.flag.flag-sx {
  background-position: -48px -143px;
}
.flag.flag-sy {
  background-position: -64px -143px;
}
.flag.flag-sz {
  background-position: -80px -143px;
}
.flag.flag-tc {
  background-position: -96px -143px;
}
.flag.flag-td {
  background-position: -112px -143px;
}
.flag.flag-tf {
  background-position: -128px -143px;
}
.flag.flag-tg {
  background-position: -144px -143px;
}
.flag.flag-th {
  background-position: -160px -143px;
}
.flag.flag-tj {
  background-position: -176px -143px;
}
.flag.flag-tk {
  background-position: -192px -143px;
}
.flag.flag-tl {
  background-position: -208px -143px;
}
.flag.flag-tm {
  background-position: -224px -143px;
}
.flag.flag-tn {
  background-position: -240px -143px;
}
.flag.flag-to {
  background-position: 0 -154px;
}
.flag.flag-tr {
  background-position: -16px -154px;
}
.flag.flag-tt {
  background-position: -32px -154px;
}
.flag.flag-tv {
  background-position: -48px -154px;
}
.flag.flag-tw {
  background-position: -64px -154px;
}
.flag.flag-tz {
  background-position: -80px -154px;
}
.flag.flag-ua {
  background-position: -96px -154px;
}
.flag.flag-ug {
  background-position: -112px -154px;
}
.flag.flag-um {
  background-position: -128px -154px;
}
.flag.flag-us {
  background-position: -144px -154px;
}
.flag.flag-uy {
  background-position: -160px -154px;
}
.flag.flag-uz {
  background-position: -176px -154px;
}
.flag.flag-va {
  background-position: -192px -154px;
}
.flag.flag-vc {
  background-position: -208px -154px;
}
.flag.flag-ve {
  background-position: -224px -154px;
}
.flag.flag-vg {
  background-position: -240px -154px;
}
.flag.flag-vi {
  background-position: 0 -165px;
}
.flag.flag-vn {
  background-position: -16px -165px;
}
.flag.flag-vu {
  background-position: -32px -165px;
}
.flag.flag-wales {
  background-position: -48px -165px;
}
.flag.flag-wf {
  background-position: -64px -165px;
}
.flag.flag-ws {
  background-position: -80px -165px;
}
.flag.flag-ye {
  background-position: -96px -165px;
}
.flag.flag-yt {
  background-position: -112px -165px;
}
.flag.flag-za {
  background-position: -128px -165px;
}
.flag.flag-zanzibar {
  background-position: -144px -165px;
}
.flag.flag-zm {
  background-position: -160px -165px;
}
.flag.flag-zw {
  background-position: -176px -165px;
}
