.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../../../../img/jssor-slider/a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;/*100%*/
    height: 70px;/*100%*/
}


.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 70px;
    height: 70px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(../../../../img/jssor-slider/t01.png) center center;
    border-width: 0px;
   /* top: 2px;
    left: 2px;*/
    width: 70px;
    height: 70px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
   /* border: #fff 1px solid;*/
}